* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: url('https://images.pexels.com/photos/1509534/pexels-photo-1509534.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500')
    no-repeat center top/100%;
  font-size: 10px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 700;
}

.wrap {
  display: flex;
  justify-content: center;
  height: 70rem;
  align-items: center;
  flex-flow: column;
}

canvas {
  background-color: #fff;
  border: 1rem red solid;
  border-radius: 2rem;
}

canvas.shake {
  animation: shake 0.2s linear 1;
}

@keyframes shake {
  0%,
  10% {
    transform: translateX(10px);
  }
  25% {
    transform: translateX(20px);
  }
  50% {
    transform: translateX(-3px);
  }
  75% {
    transform: translateX(-1px);
  }
  100% {
    transform: translateX(-2px);
  }
}

button.shake {
  font-size: 2rem;
  background-color: palevioletred;
  padding: 1rem 1rem;
  margin: 4rem 1rem;
  width: 10%;
  text-align: center;
}

.btn a {
  text-decoration: none;
  color: #fff;
}
